@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Megrim|Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Merriweather:700,900');
* { margin:0; padding:0; box-sizing:border-box; }
body{
    font-size: 15px;
    background-color: rgb(255,255,255,.1);
}

#headsection {
    background-image: url("images/blue-drip_cake.jpg");
    background-size: cover;
    padding: 50px;
}
.firstpara{
    background-color: rgb(135,202,223);
    padding: 1em;
    width: 50%;
    margin-top: .5em;
    color: white;
}
h4{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #fff;
}
#gallery{
	background-color: #fff;
	padding: 50px;
	margin: ;
}

#gallery img{
    padding: 1em;
    width: 25%;
    float: left;
}
footer{
	background-color: #FF957E;
    padding: 20px;
    clear: left;
}
div{
	background-color: #fff;
    padding: 0px;
}
h1{
    font-family: 'Merriweather', serif; 
    text-align: left;
    font-weight: 900;
    font-size: 5em;
    line-height: 1em;
    padding-top: 250px;
    color: #fff;
    text-shadow: 2px 2px 10px #331b12;
}
#magni{
    font-size: 2em;
    line-height: 1em;
    margin: 20px 0px 0px 0px;
    font-family:  'Merriweather', serif;
    font-weight: 700; 
    padding: 5px 0px 20px 0px;
    text-align: left;
    color: #FFF;
    text-shadow: 2px 2px 10px #331b12;
}
.storyh2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 2em;
    color: #000;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 2em;
    color: #000;
}
.story{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
}

ul{
    font-family: Roboto, sans-serif;
    font-weight: 300; 
    font-size: 1em;
    text-decoration: none;
}

nav{
    /* background-color: black; */
    float: right;
}

nav a{
    display: inline-block;
    padding: 15px 30px 15px 30px;
    /* background-color: #000; */
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
}

a:hover{
    background-color: rgba(255,255,255,0.7);
    color: #e17b63;
}

aside{
    float: left;
    width: 20px;
    height: 20px
}
#logo{
    margin-top: 2em;
    margin-left: 2em;
    float: left;
    width: 150px;
}

#image{
    display:block;
    width: 0 auto;
    height: 180px;
}

#headsection{
    height: 800px;
}   

#description{
     background-color: #d5d2cd;
     float: right;
}

.cakes{
    background-color: #f6f6f6;
    padding: 80px;
}
.caketitle{
    background-color: #fff;
    padding: 80px;
}
p{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;  
}
ul{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    color: #000; 
}
#background{
    background-image: url("images/colourcupcakes.jpg");
    background-size: cover;
    height: 800px; 
    clear: left;
}

.container{
    display: block;
    clear: left; 
    margin: 0 auto;
    width: 80%;
    min-height: 633px
    background-color: rgba(255,255,255,.1);
}
.events{
    background-color: rgba(255,255,255,.8);
    padding: 3em;
    float: left;
    width:50%
}
.moreevents{
    background-color: rgba(255,255,255,.8);
    padding: 3em;
    width:50%;  
    float: left;
}

.wrapper {
    background-image: url("images/watercolour.jpg");
    background-size: cover;
    border: 0px black solid;
    padding: 4em 0;
    height: 350px; 
    clear: left;    
    width: 100%;
    margin: 0 auto;
}

.ourstory{
    background-color: rgba(255,255,255,.1);
    padding: 1em;
    width: 80%;
    height: 15em;
    margin: 0 auto;
    color: white;

}
.previous{     
    padding-top: 3em;
    width: 95%;
    margin: 0 auto;
    font-family: 'Megrim', cursive;
    font-weight: 300;
    font-size: .9em;
    background-color: #fff;
    height: 500px;
}
.cakecolumns{ 
    background-color: #fae3f2;
    border-style: solid;
    border-width: .5em;
    border-color: #fff;
    padding: 3em;
    float: left;
    width: 20%;
    min-height: 350px;
    min-width: 25%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
