@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	background-image: url("images/salted_caramel_dripcake.jpg");
	background-image: cover;
	text-align: center;
}
h1{
	font-family: 'Caveat Brush', cursive;
	font-weight: bold;
	font-size: 100px;
	color: black;
}

a{

}

.paragraph{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

#subheader{
	font-family: 'Caveat Brush', cursive;
	font-size: 40px;
}

.menu{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;	
	font-weight: bold;
	color: black;
	padding: 20px
}