body{
	background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/19225977_10154590675878053_4165297158834384906_n.jpg?oh=c5384d75941a00d52b8daebd3f9376bb&amp;oe=59C3F3BA">);
	background-size: cover;
}
h1{
	color: #58595B;
}