body{
	background-image: url("images/salted_caramel_dripcake.jpg");
	background-image: cover;
	text-align: center;
}
h1{
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: xx-large;
	color: #000000;
}
h2{
	font-family: 
}